body {
	font-family: Roboto;
	font-size: 0.9em;
}

h1 {
	text-align:center;
	color: white;
	background: rgb(42,85,148);
}

h2 {
	text-align:center;
	color: white;
	background: rgb(42,85,148);
  padding: 15px;
}

section {
	float: left;
	margin: 0 1.5%;
	width: 30%;
	height:750px;
	border: 2px solid rgb(42, 85, 148);
	border-radius: 5px;
	overflow-x: scroll;
	overflow-y: scroll;
}

aside {
	float: left;
	margin: 0 1.5%;
	width:67%;
  height:750px;
}

p {
	background-color: white;
	display: block;
	color: rgba(42,85,148);
	padding: 1px 16px;
	text-decoration: none;
}

summary {
	background-color: rgba(42,85,148,0.25);
	color:black;
	padding: 15px;
}

summary:hover {
	background-color: rgba(42,85,148,1.0);
	color:white
}

input[type=button]{
	font-family: Roboto;
	font-size:0.9em;
	color:rgb(42,85,148);
	background-color: white;
	border: 2px solid rgb(42,85,148);
  	padding: 10px;
}

input#addObject{
	padding: 15px 
}

br {
	line-height:5px
}

input#delete{
/*	background-image: url(icons/trash.jpg);
	background-repeat: no-repeat; */
	color:rgb(42,85,148);
	background-color: white;
	border: 2px solid rgb(42,85,148);
        padding: 10px 10%;
}

input#edit{
/*	background: url(icons/pen.png);
	background-repeat: no-repeat;*/
        color:rgb(42,85,148);
        background-color: white;
        border: 2px solid rgb(42,85,148);
	padding: 10px 10%;
}


/* Add Animation */
@-webkit-keyframes animatetop {
 	from {top: -300px; opacity: 0} 
    	to {top: 0; opacity: 1}
}

@keyframes animatetop {
    	from {top: -300px; opacity: 0}
    	to {top: 0; opacity: 1}
}
