<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <!-- set title and icon for head -->
    <title>Presets</title>
    <link rel="shortcut icon" type="image/x-icon" href="presets/img/irt.ico">
    <!-- load css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'presets/css/style.css' %}" />	
  </head>
  <body>
    <!-- divide template in heading, sidebar and controll view--> 
	<h1>Create an object-based audioscene</h1>
	<section>
		{% block objects %}
		{%endblock%}
	</section>

	<aside>
		{% block video %}
		{%endblock%}
	</aside>

  </body>
</html>
