{% extends 'presets/base.html' %}

<!-- Sidebar with list of DB entries -->
{% block objects %}
  <h2>Audioobjects</h2>
	{% for obj in objList %}
	<details>
        <!-- Object names as visible headings for the <details> elements -->
        <summary>{{obj.name}}</summary>

        <!-- Object Details -->	
        <!-- Delete and edit Buttons for every Object -->
	    <form method='get' action=''>
            <input type='hidden' name='Object' value={{obj.id}}>
            <input type="button" value="Edit" onclick="editObject({{obj.id}})" />
            <input type='button' value="Delete" onclick="deleteObjSidebar({{obj.id}})"/>
	    </form>

        <!-- List of object parameter -->
	    <p><li><b>Objecttype:</b> {{obj.objectType}}</li></p>	
        <p><li><b>Color:</b> {{obj.color}}</li></p>
        
        <!-- Differentiate list of parameters with objecttypes -->
        <!-- Objecttype is audioobject -->
        {% if obj.objectType == "Audioobject" %}
	        <p>
	        {%for audioobject in obj.audioobject_set.all%}
	            <li><b>URL:</b> {{audioobject.url}}</li>
	            <li><b>Channel:</b>{{audioobject.channel}}</li>
                <li><b>TimeRange:</b>
                  <ul> <li>Start: {{audioobject.timeRangeStart}}</li> 
                       <li>Stop: {{audioobject.timeRangeStop}}</li></ul>

             	
	            <li><b>Parameter:</b>
		        <ul>
		        {% for parameter in audioobject.parameter_set.all %}		  
		
			        <li><b>{{parameter.name}}:</b></li>
			        <ul>
			        {%for parameter_value in parameter.parametervalue_set.all%}
				             					
				        {%if parameter.name == "Pos" %}
					        <li>{{parameter_value.name}}: X: {{parameter_value.valuex}} Y: {{parameter_value.valuey}} Z: {{parameter_value.valuez}}</li>
				        {%else%}
					        <li>{{parameter_value.name}}: {{parameter_value.value}}</li>
				        {%endif%}     
			        {%endfor%}

			        </ul>
		        {%endfor%}
		        </ul>	
            {%endfor%}
	        </p>
	    {%endif%}

        <!-- Objecttype is switchgroup -->
	    {%if obj.objectType == "Switchgroup" %}
	    <p>
	    <li><b>Element:</b></li>
		    <ul>
		    {%for audioobject in obj.audioobject_set.all%}
			    <li><b>{{audioobject.name}}:</b></li>
			    <ul>
			    <li><b>Color:</b> {{audioobject.color}}</li>
			    <li><b>URL:</b> {{audioobject.url}}</li>
			    <li><b>Channel:</b> {{audioobject.channel}}</li>
          <li><b>TimeRange:</b>
              <ul> <li>Start: {{audioobject.timeRangeStart}}</li> 
              <li>Stop: {{audioobject.timeRangeStop}}</li></ul>
          <li>
		
	         <li><b>Parameter:</b></li>
		        <ul>
		        
		        {% for parameter in audioobject.parameter_set.all %}
				        <li><b>{{parameter.name}}</b></li>
				        <ul>
					        {%for parameter_value in parameter.parametervalue_set.all%}
							        {%if parameter.name == "Pos" %}
								        <li><b>{{parameter_value.name}}</b>: X: {{parameter_value.valuex}} Y: {{parameter_value.valuey}} Z: {{parameter_value.valuez}}</li>
							        {%else%}
								        <li>{{parameter_value.name}}: {{parameter_value.value}}</li>
							        {%endif%}				     

					        {%endfor%}
				        </ul>
		        {%endfor%}
		        </ul>
		        </ul>
            {%endfor%} 
		    </ul>
		    </p>
	    {%endif%}
	        
	</details> 
	{%endfor%}

    <!-- Buttons for different actions -->
    <input type='button' value="Add new Object" onclick="addNewObject()">	
    <input type='button' value="Add Output Format" onclick="addOutputFormat()">
    <input type='button' value="Save Scene" onclick="saveScene()">

{% endblock %}

<!-- Add control view with computer graphic -->
{%block video%}
 {% include 'presets/player.html' %}
{%endblock%}

