{% load static %}
<!DOCTYPE html>
<html> 

<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


<!-- load external libraries -->
<script type="text/javascript" src="{% static 'presets/js/three.js-master/build/three.min.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/dat.gui/build/dat.gui.js' %}"></script>

<!-- load internal javascripts -->
<script type="text/javascript" src="{% static 'presets/js/UIProcessor.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/EventHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/RequestHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/MathHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/DBListHelper.js' %}"></script>

<script type="text/javascript">
    
    // load DB entries in different lists
    var objList = {{objListJS|safe}};
    var outputList = {{outputListJS|safe}};
    var aoList = {{aoListJS|safe}};
    var paramList = {{paramListJS|safe}};
    var pVList = {{pVListJS|safe}};

    // set geometry for spheres (Audioobjects) and rings (Switchgroups)    
    var geometryElement = new THREE.RingGeometry(1.2, 1.3, 32);
    var geometryObject = new THREE.SphereGeometry(1, 32, 32);

    var canvas;
    // set scene and camera
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(45, 1 , 1, 500);
    var renderer;

    var radius = 15;
    
    // call on start    
    function webGLStart(){  
      // draw 360 degree scene  
      drawScene();   
       
      // set mouse or keyboard evenlisteners
      document.onkeydown = handleKeyDown;
      canvas.ondblclick = handleDblClick;
      canvas.onclick = handleMouseClick;
      canvas.onmousedown = handleMouseDown;
      document.onmouseup = handleMouseUp;
      document.onmousemove = handleMouseMove;
      /*document.onwheel =  handleMouseWheel;*/ //Click and Drag Objects
    } 

    var audioobject; //create global variable audioobject
    // create arrays for audioobjects and switchgroups
    var objects=[];
    var element=[];

    // rendering function 
    function render() {
      requestAnimationFrame( render ); 
      // render scene for every new camera view         
      renderer.render(scene, camera);
    }

    // draw scene class
	function drawScene(){
        // set canvas from ID
        canvas= document.getElementById("canvas");
        // set renderer with canvas 
        renderer = new THREE.WebGLRenderer({canvas:canvas});

        camera.position.z = 0;
        renderer.setSize(canvas.clientWidth, canvas.clientHeight);
        document.body.appendChild(renderer.domElement); 

        // create sphere with texture from static files as room
        var loader = new THREE.TextureLoader();
        var texture = loader.load ("{% static 'presets/img/studio_editor_audioScene.jpg' %}", function (texture) { 
            var geometrySphere = new THREE.SphereGeometry(radius, 32, 32 );
            var materialSphere = new THREE.MeshBasicMaterial( { map: texture } );
            var sphere = new THREE.Mesh( geometrySphere, materialSphere );
            sphere.material.side = THREE.DoubleSide;
            scene.add(sphere);
            loadScenePosition(alpha, beta); 
        });    

        texture.wrapS = THREE.RepeatWrapping; //Drehen des Textures, damit Kamera bei Start auf Center schaut
        texture.wrapT = THREE.ClampToEdgeWrapping;
        texture.offset.x = -Math.PI/2 / (2*Math.PI);
        texture.wrapS = THREE.RepeatWrapping; 
        texture.repeat.x = - 1;

        // call drawObjects function
        drawObjects();
        // call render function to render visual scene
        render();
	} 

    // draw objects function
    function drawObjects(){
      // find all position from objects
      if (objList!= null){
        for(var i in objList){
          renderer.sortObjects = false;
          for(var n in aoList){
            if(aoList[n].fields.obj == objList[i].pk){
              for (var j in paramList){
                if(paramList[j].fields.audioobject==aoList[n].pk && paramList[j].fields.name=="Pos"){
                  for (var m in pVList){
                    if(pVList[m].fields.parameter==paramList[j].pk){
                      // audioobjects are transparent
		              var materialObject = new THREE.MeshBasicMaterial({transparent: true, opacity: 0.5});
                      // combine geometry and material to build audioobjects    
                      var audioobject = new THREE.Mesh(geometryObject, materialObject);
                      
                      // set position values                          
                      audioobject.position.x=pVList[m].fields.valuex;
                      audioobject.position.y=pVList[m].fields.valuez;
                      audioobject.position.z=pVList[m].fields.valuey;
                      // set color value
  		              audioobject.material.color.setHex(aoList[n].fields.color);
                      
                      // add audioobject to scene  
                      scene.add(audioobject);
                      // add audioobject in list with all audioobject
                      objects.push( audioobject );			

                      // if objecttype is switchgroup than add a ring around the audioobject sphere
                      if (objList[i].fields.objectType == "Switchgroup"){
                        // same as audioobjects
                        var materialElement = new THREE.MeshBasicMaterial({side: THREE.DoubleSide});
                        var sgRing = new THREE.Mesh(geometryElement, materialElement);

                        sgRing.position.x = pVList[m].fields.valuex;
                        sgRing.position.y = pVList[m].fields.valuez;
                        sgRing.position.z = pVList[m].fields.valuey;

                        sgRing.material.color.setHex(objList[i].fields.color);
                        sgRing.material.transparent=true;
                        sgRing.material.opacity = 0.5;

                        scene.add(sgRing); 

                        element.push(sgRing);                   
                      }
                    }
                  }
                }
              }
            }
	      }
        }
      }
    }
	    

		
	function makeAllObjectsTransparent(){
        // make all rings and spheres transparent         
        for (var i in element){
          element[i].material.transparent = true;
        }
        for (var i in objects){
          objects[i].material.transparent = true;
        }

        isObjectSelect = false;
    
	}

    // load new camera view function
	function loadScenePosition(alpha, beta){
        // calculate new camera view with angles
	    scene.position.x=radius*Math.sin(degToRad(alpha))*Math.cos(degToRad(beta));
	    scene.position.z=radius*Math.sin(degToRad(alpha))*Math.sin(degToRad(beta));
	    scene.position.y=radius*Math.cos(degToRad(alpha));  
        // set new camera view
	    camera.lookAt(scene.position);
        // render new camera view
	    renderer.render(scene, camera);
	}
</script>
</head>

<body onload="webGLStart();">
  <!-- set canvas with size -->
  <canvas id="canvas" style="border: none;" width ="900" height="750"></canvas> 
  <!-- Video texture -->
  <!--<video id="video" autoplay loop webkit-playsinline style="display:none">
    <source src="{% static 'presets/videos/sample360.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>-->
</body>

</html>
