/* set font size and type */
body {
	font-family: Roboto;
	font-size: 0.9em;
}

/* set color and text-align from headline*/
h1 {
	text-align:center;
	color: white;
	background: rgb(42,85,148);
}
h2 {
	text-align:center;
	color: white;
	background: rgb(42,85,148);
    padding: 15px;
}

/* set position, size and color from sidebar*/
section {
	float: left;
	margin: 0 1.5%;
	width: 30%;
	height:750px;
	border: 2px solid rgb(42, 85, 148);
	border-radius: 5px;
	overflow-x: scroll;
	overflow-y: scroll;
}

/* set size and position from aside*/
aside {
	float: left;
	margin: 0 1.5%;
	width:67%;
    height:750px;
}

/* set form and size from paragraphs */
p {
	background-color: white;
	display: block;
	color: rgba(42,85,148);
	padding: 1px 16px;
	text-decoration: none;
}

/* set color and padding for visible heading for the <details> element */
summary {
	background-color: rgba(42,85,148,0.25);
	color:black;
	padding: 15px;
}

summary:hover {
	background-color: rgba(42,85,148,1.0);
	color:white
}

/* font, color and size settings for buttons*/
input[type=button]{
	font-family: Roboto;
	font-size:0.9em;
	color:rgb(42,85,148);
	background-color: white;
	border: 2px solid rgb(42,85,148);
  	padding: 10px;
}

/*line break height*/
br {
	line-height:5px
}

/* Special form for delete and edit button*/
input#delete{
    padding: 10px 10%;
}

input#edit{
	padding: 10px 10%;
}


/* Add Animation */
@-webkit-keyframes animatetop {
 	from {top: -300px; opacity: 0} 
    	to {top: 0; opacity: 1}
}

@keyframes animatetop {
    	from {top: -300px; opacity: 0}
    	to {top: 0; opacity: 1}
}
