{% load staticfiles%}
{% load static %}
<!DOCTYPE html>
<html> 
<head>

<link rel="shortcut icon" type="image/x-icon" href="presets/img/irt.ico">
<link rel="stylesheet" type="text/css" href="{% static 'presets/css/style.css' %}" />	
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="{% static 'presets/js/three.js-master/build/three.min.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/dat.gui/build/dat.gui.js' %}"></script>

<script type="text/javascript" src="{% static 'presets/js/UIProcessor.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/DeviceOrientationController.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/RequestHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/MathHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'presets/js/DBListHelper.js' %}"></script>

<!-- DEVICEORIENTATION EMULATOR DETECTION + BOOTSTRAP -->
<script src="https://richtr.github.io/doe/doe.js"></script>

<script type="text/javascript">
    function webGLStart(){     
      drawScene();   
    } 

    var objList = {{objListJS|safe}};
    var outputList = {{outputListJS|safe}};
    var aoList = {{aoListJS|safe}};
    var paramList = {{paramListJS|safe}};
    var pVList = {{pVListJS|safe}};

    var geometryElement = new THREE.RingGeometry(1.2, 1.3, 32);

    var canvas;

    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(45, 1 , 1, 500);
    var renderer;

    var loader = new THREE.TextureLoader();

    var radius = 15;
    var alpha=90;
    var beta=90;

        


  var objects=[];
  var element=[];

    function render() {

      controls.update();
      requestAnimationFrame( render );          
      renderer.render(scene, camera);
    }

    function drawObjects(){
        if (objList!= null){
          for(var i in objList){
            renderer.sortObjects = false;
            for(var n in aoList){

              if(aoList[n].fields.obj == objList[i].pk){
                  
               for (var j in paramList){
                 if(paramList[j].fields.audioobject==aoList[n].pk && paramList[j].fields.name=="Pos"){
                  for (var m in pVList){
                    if(pVList[m].fields.parameter==paramList[j].pk){
		                  var materialObject = new THREE.MeshBasicMaterial({transparent: true, opacity: 0.5});    
                      var audioobject = new THREE.Mesh(geometryObject, materialObject);
                                               
                      audioobject.position.x=pVList[m].fields.valuex;
                      audioobject.position.y=pVList[m].fields.valuez;
                      audioobject.position.z=pVList[m].fields.valuey;

  		                audioobject.material.color.setHex(aoList[n].fields.color);
                      
                      scene.add(audioobject);
                      objects.push( audioobject );			

                      if (objList[i].fields.objectType == "Switchgroup"){
                 

                        var materialElement = new THREE.MeshBasicMaterial({side: THREE.DoubleSide});
                        var sgRing = new THREE.Mesh(geometryElement, materialElement);

                        sgRing.position.x = pVList[m].fields.valuex;
                        sgRing.position.y = pVList[m].fields.valuez;
                        sgRing.position.z = pVList[m].fields.valuey;

                        sgRing.material.color.setHex(objList[i].fields.color);
			                  sgRing.material.transparent=true;
			                  sgRing.material.opacity = 0.5;

                        scene.add(sgRing); 

			                  element.push(sgRing); 
                       
                      }
                    }
                  }
                 }
               }
             }
	          }
          }
        }
	
    }
	    
	    function drawScene(){
		      canvas= document.getElementById("canvas");
		      renderer = new THREE.WebGLRenderer({canvas:canvas});
		     
		      camera.position.z = 0;
		      renderer.setSize(canvas.clientWidth, canvas.clientHeight);
		      document.body.appendChild(renderer.domElement);     

		      var texture = loader.load ("{% static 'presets/img/studio_editor_audioScene.jpg' %}", function (texture) { 
			     var geometrySphere = new THREE.SphereGeometry(radius, 32, 32 );
			     var materialSphere = new THREE.MeshBasicMaterial( { map: texture } );
			     var sphere = new THREE.Mesh( geometrySphere, materialSphere );
			     sphere.material.side = THREE.DoubleSide;
			     scene.add(sphere);
			     loadScenePosition(alpha, beta); 
		       });    

		      texture.wrapS = THREE.RepeatWrapping; //Drehen des Textures, damit Kamera bei Start auf Center schaut
		      texture.wrapT = THREE.ClampToEdgeWrapping;
		      texture.offset.x = -Math.PI/2 / (2*Math.PI);
		      texture.wrapS = THREE.RepeatWrapping; 
		      texture.repeat.x = - 1;

		      drawObjects();

		      controls = new DeviceOrientationController(camera, renderer.domElement);
		      controls.connect();

		      setupControllerEventHandlers( controls );
                      window.addEventListener( 'resize', onWindowResize, false );

		      render();
	    } 
		
	function makeAllObjectsTransparent(){
    
	      for (var i in element){
		      element[i].material.transparent = true;
	      
	      }
		
	    
	      for (var i in objects){
		      objects[i].material.transparent = true;
	      }

        isObjectSelect = false;
    
	}

	function loadScenePosition(alpha, beta){

	    scene.position.x=radius*Math.sin(degToRad(alpha))*Math.cos(degToRad(beta));
	    scene.position.z=radius*Math.sin(degToRad(alpha))*Math.sin(degToRad(beta));
	    scene.position.y=radius*Math.cos(degToRad(alpha));  

	    camera.lookAt(scene.position);

	    renderer.render(scene, camera);
	}

	// Demonstration of some DeviceOrientationController event handling
	function setupControllerEventHandlers( controls ) {
		var controllerEl = document.querySelector( '#controllername' );
		var controllerDefaultText = controllerEl.textContent;
		var controllerSelectorEl = document.querySelector( '#controllertype' );
		var compassCalibrationPopupEl = document.querySelector( '#calibrate-compass-popup' );
		var compassCalibratedEl = compassCalibrationPopupEl.querySelector( 'button' );
		// Listen for manual interaction (zoom OR rotate)
		controls.addEventListener( 'userinteractionstart', function () {
			renderer.domElement.style.cursor = 'move';
			controllerSelectorEl.style.display = 'none';
		});
		controls.addEventListener( 'userinteractionend', function () {
			renderer.domElement.style.cursor = 'default';
			controllerSelectorEl.style.display = 'inline-block';
		});
		// Listen for manual rotate interaction
		controls.addEventListener( 'rotatestart', function () {
			controllerEl.innerText = 'Manual Rotate';
		});
		controls.addEventListener( 'rotateend', function () {
			controllerEl.innerText = controllerDefaultText;
		});
		// Listen for manual zoom interaction
		controls.addEventListener( 'zoomstart', function () {
			controllerEl.innerText = 'Manual Zoom';
		});
		controls.addEventListener( 'zoomend', function () {
			controllerEl.innerText = controllerDefaultText;
		});
		//
		// Show a simple 'canvas calibration required' dialog to user
		controls.addEventListener( 'compassneedscalibration', function () {
			compassCalibrationPopupEl.style.visibility = 'visible';
			compassCalibratedEl.addEventListener( 'click', function () {
				compassCalibrationPopupEl.style.visibility = 'hidden';
			});
		});
		// Allow advanced switching between 'Quaternions' and 'Rotation Matrix' calculations
		controllerSelectorEl.addEventListener( 'click', function ( event ) {
			event.preventDefault();
			if ( controls.useQuaternions === true ) {
				controllerSelectorEl.textContent = 'Rotation Matrix';
				controls.useQuaternions = false;
			} else {
				controllerSelectorEl.textContent = 'Quaternions';
				controls.useQuaternions = true;
			}
		}, false);
	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();
		renderer.setSize( window.innerWidth, window.innerHeight );
	}
</script>



</head>

<body onload="webGLStart();">
  <canvas id="canvas" style="border: none;" width ="900" height="750"></canvas> 
  <!--<video id="video" autoplay loop webkit-playsinline style="display:none">
    <source src="{% static 'presets/videos/sample360.mp4' %}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>-->
  <form action="" method="post">
    {%csrf_token%}
  </form>
</body>

</html>
